/* ===== HERO ===== */
.hero {
    height: 100vh;
    background: url("../images/frente.webp") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background-attachment: fixed; /* efeito parallax */
    position: relative; /* importante! */
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0; /* pega toda a área */
    background: rgba(0, 0, 0, 0.8); /* ajuste a opacidade como quiser */
    z-index: 1; /* fica por cima da imagem */
}

/* O conteúdo tem que ficar acima do filtro */
.hero * {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4rem;
    max-width: 600px;
}

.hero-content h1 span {
    color: #e0c465;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.2rem;
    max-width: 450px;
}

.btn-primary {
    background: #e0c465;
    color: #000;
    padding: 12px 26px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;
}

.btn-primary:hover {
    background: #b8952f;
}
